.flex {
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &_horizontal {
        flex-direction: row;
    }

    &__bar {
        position: relative;
        flex: none;
    }

    &__scroll {
        position: relative;
        flex: auto;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}
