{
  "plugins": [
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-declaration-use-variable",
  ],
  "defaultSeverity": "error",
  "rules": {
    "sh-waqar/declaration-use-variable": [["/color/", { ignoreValues: ["transparent", "inherit"] }]],
    "plugin/declaration-block-no-ignored-properties": true,
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-no-important": true,
    "declaration-property-value-blacklist": {
      "/^margin/": ["initial"],
      "/^padding/": ["initial"],
      "flex-grow": ["initial"],
    },
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "max-nesting-depth": 3,
    "no-duplicate-selectors": true,
    "property-no-unknown": true,
    "selector-max-compound-selectors": 2,
    "selector-max-id": 0,
    "selector-max-type": 0,
    "selector-max-universal": 0,
    "selector-pseudo-element-no-unknown": true,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"]
      }
    ],
    "shorthand-property-no-redundant-values": true,
    "string-no-newline": true,
    "unit-blacklist": ["em", "rem"],
  },
}
