.tabs {
    display: flex;
    border-bottom: 1px solid $cGrey;

    &__item {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 26px;
        margin-right: 2px;
        margin-bottom: -1px;
        padding: 0 20px 0 15px;
        background: #eaeff1;
        border: 1px solid color($cGrey l(+15%));
        border-bottom-color: $cGrey;
        border-radius: 4px 4px 0 0;
        cursor: pointer;

        &:hover {
            background: color($cGrey l(-5%));
            border: 1px solid color($cGrey l(-5%));
            border-bottom-color: $cGrey;
        }
    }

    &__right {
        margin-left: auto;
    }

    &._active {
        background: $cWhite;
        border: 1px solid $cGrey;
        border-bottom-color: $cWhite;
        cursor: default;
    }
}
