/* stylelint-disable unit-blacklist */
.icon {
    display: inline-block;
    fill: currentColor;
    flex: none;
    height: 1em;
    line-height: 1em;
    position: relative;
    vertical-align: middle;
    width: 1em;

    &_lg {
        font-size: 24px;
    }
}
/* stylelint-enable */
