extends ../_partials/layout

block vars
    - var title='Styleguide'

block extra_styles
    style.
        body{
            background: #f5f5f5;
        }
        .spacerXlg{
            background: #fff;
            box-shadow: 0 3px 5px 0 rgba(0,0,0, .1);
            border-radius: 4px;
            padding: 20px;
        }

block content

    .section
        .vsection
            .spacerXlg
                h1 Header 1
                h2 Header 2
                h3 Header 3


            .spacerXlg
                p Paragraph


            .spacerXlg
                .aligner
                    div Aligner

                    .aligner__right .aligner__right


            .spacerXlg
                h2.spacer Badges
                .aligner
                    .spacerInline
                        .badge .badge

                    .spacerInline
                        .badge.badge_green .badge.badge_green

                    .spacerInline
                        .badge.badge_red .badge.badge_red


            .spacerXlg
                h2.spacer Buttons
                .spacer
                    .spacerInline
                        .btn .btn

                    .spacerInline
                        .btn.btn_red .btn.btn_red

                    .spacerInline
                        .btn.btn_transparent .btn.btn_transparent

                    .spacerInline
                        .btn.btn_transparentRed .btn.btn_transparentRed

                    .spacerInline
                        .btn._disabled .btn._disabled

                div
                    .btn.btn.btn_block .btn.btn_block


            .spacerXlg
                h2.spacer Buttons Group

                .spacer
                    .btnGroup
                        .btnGroup__item Button 1
                        .btnGroup__item._active Button 2
                        .btnGroup__item Button 3

                .btnGroup.btnGroup_block
                    .btnGroup__item Button 1
                    .btnGroup__item._active Button 2
                    .btnGroup__item Button 3


            .spacerXlg
                h2.spacer Checkbox & Radio

                .spacer
                    +checkbox('checkbox')

                .spacer
                    +checkbox('checkbox slider', 'checkbox_slider')

                div
                    +radio('radio')


            .spacerXlg
                h2.spacer Flex

                .flex(style="height: 300px;")
                    .flex__bar .flex__bar

                    .flex__scroll
                        each val in [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
                            div .flex__scroll


            .spacerXlg
                h2.spacer Form Slider

                .formSlider
                    .formSlider__line
                        .formSlider__pin(style="left: 40%;")

                    .formSlider__label.formSlider__label_first(style="left: 0%;") 0
                    .formSlider__label(style="left: 50%;") 50
                    .formSlider__label.formSlider__label_last(style="left: 100%;") 100


            .spacerXlg
                h2.spacer Grid

                .spacer Grid from <a target="_blank" href="https://getbootstrap.com/docs/4.3/layout/grid/">bootsrap</a>

                .row
                    .col-sm-4.col-md-3.col-lg-2
                        .spacer
                            input.input

                    .col-sm-4.col-md-3.col-lg-2
                        .spacer
                            input.input

                    .col-sm-4.col-md-3.col-lg-2
                        .spacer
                            input.input


            .spacerXlg
                h2.spacer hr

                .hr


            .spacerXlg
                h2.spacer Icons

                .spacer
                    +icon("icon_cornerDown")

                h1.spacer.textRed
                    +icon("icon_cornerDown")

                h2.textGreen
                    +icon("icon_cornerDown")


            .spacerXlg
                h2.spacer Input & Textarea

                .spacer
                    .formLabel .formLabel
                    input.input(placeholder=".input")
                    .formDescr .formDescr

                .spacer
                    input.input._disabled(placeholder=".input._disabled", disabled)

                .spacer
                    input.input._error(placeholder=".input._error")

                textarea.textarea(placeholder=".textarea")


            .spacerXlg
                h2.spacer List

                .list
                    .list__item .list__item
                    .list__item .list__item
                    .list__item .list__item
                    .list__item .list__item


            .spacerXlg
                h2.spacer Popover

                div(style="height: 80px;")
                    .popover
                        .popover__close x
                        .popover__content popover content


            .spacerXlg
                h2.spacer Table

                table.table.table_hover
                    tr.table__tr
                        th.table__th Table header
                        th.table__th Table header

                    tr.table__tr
                        td.table__td Table cell
                        td.table__td Table cell

                    tr.table__tr
                        td.table__td Table cell
                        td.table__td Table cell

                    tr.table__tr
                        td.table__td Table cell
                        td.table__td Table cell


            .spacerXlg
                h2.spacer Tabs

                .tabs
                    .tabs__item Tab Item
                    .tabs__item._active Tab Item
                    .tabs__item Tab Item


            .spacerXlg
                h2.spacer Tooltip

                div(style="height: 40px;")
                    .tooltip._show Tooltip
